@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Readex+Pro:wght@160..700&display=swap');

input[type="text"]{
    background-color: rgb(217, 217, 217, 0.43);
    color: #687C94;
    font-family: "Karla", sans-serif;
    width: 30%;
    border-radius: 8px;
    border-style:initial;
    padding: 0.9%;
    font-size: 12px;
    margin-bottom: 3%;
}

label{
    font-family: "Karla", sans-serif;
    font-size: 16px;
    color: #666666;
    margin-bottom: 0.8%;
}

select{
    background-color: rgb(217, 217, 217, 0.43);
    color: #687C94;
    font-family: "Karla", sans-serif;
    width: 31.5%;
    border-radius: 8px;
    border-style:initial;
    padding: 0.9%;
    font-size: 12px;
    margin-bottom: 3%;
}
